.form {
    border-radius: calc(var(--grid-size) * 2);
    background-color: var(--primary-color);
    padding: calc(var(--grid-size) * 3);
    border: 2px solid var(--grey);
    box-shadow: var(--shadow);
    flex-wrap: wrap;
}

.inner {
    display: flex;
    gap: calc(var(--grid-size) * 2);
    align-items: flex-end;
    flex-wrap: wrap;
}

.typeDemo {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: calc(var(--grid-size) * 2);
    color: var(--secondary-color);
}

.dots {
    font-size: 0.8rem;
    display: inline-block;
    margin: 0 var(--grid-size);
}

.tags {
    height: calc(var(--grid-size) * 5);
    display: flex;
    gap: var(--grid-size);
}

.field {
    display: flex;
    flex-direction: column;
    gap: var(--grid-size);
}

.inputField {
    flex-grow: 10;
    flex-shrink: 0;
}

.label {
    font-weight: 500;
    align-self: flex-start;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 0.8rem;
}

.input {
    flex-grow: 1;
    border: 1px solid var(--grey-dark);
    border-radius: var(--grid-size);
    padding: 0 calc(var(--grid-size) * 2);
    background-color: var(--grey-darkness);
    color: var(--secondary-color);
    height: calc(var(--grid-size) * 5);
    box-shadow: none;
    font-size: 1rem;
    transition: border-color var(--transition-time) ease;
    outline: none;
}

.input:focus, .input:focus-visible {
    border-color: var(--secondary-color);
    outline: none;
}

.button {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.miniCard {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-light);
    color: var(--grey-light);
    font-size: 0.8rem;
    border-radius: var(--grid-size);
    width: 40px;
    height: 20px;
}
