.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-size) * 3);
}

.main {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    max-width: var(--container);
    padding: calc(var(--grid-size) * 2);
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-size) * 3);
}

.form {
    display: flex;
    gap: calc(var(--grid-size) * 2);
}
.buttons {
    display: flex;
    gap: calc(var(--grid-size) * 2);
}
