.wrapper {
    left: 0;
    right: var(--scrollbar-compensation, 0);
    position: fixed;
    z-index: 3;
    height: 0;
    top: calc(var(--grid-size) * 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(var(--grid-size) * 2);
}

@media (min-width: 790px) {
    .wrapper {
        top: calc(var(--grid-size) * 10);
    }
}

.container {
    --navbar-height: calc(var(--grid-size) * 5);
    --navbar-width: calc(var(--grid-size) * 70);
    --navbar-height-expanded: calc(var(--grid-size) * 6);
    --navbar-width-expanded: calc(var(--grid-size) * 100);
    --time-width: calc(var(--grid-size) * 12);
    --time-width-expanded: calc(var(--grid-size) * 12);
    --time-width-everage: calc(var(--grid-size) * 20);
    border-radius: calc(var(--grid-size) * 4);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;
    gap: var(--grid-size);
    max-width: calc(var(--container) - var(--grid-size) * 4);
    width: var(--navbar-width);
    height: var(--navbar-height);
    transform-origin: center center;
    transition: height var(--bounce) var(--transition-time), width var(--bounce) var(--transition-time), background-color ease-in-out var(--transition-time), color ease-in-out var(--transition-time);
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    will-change: height, width;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container.isInProgress {
    background-color: var(--warning-color);
    color: var(--primary-color);
}

.container.isFinished {
    background-color: var(--success-color);
    color: var(--primary-color);
}

.expanded .container {
    --navbar-height: calc(var(--grid-size) * 10);
    height: var(--navbar-height);
}

.expanded.isHost .container {
    --navbar-height: calc(var(--grid-size) * 15);
    height: var(--navbar-height);
    gap: calc(var(--grid-size) / 2);
}

.head {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 24px;
    padding: 0 calc(var(--grid-size) * 2);
}

.expanded .head {
    flex: 0 0 auto;
}

.expanded.isHost .head {
    flex: 0 0 calc(100% / 3);
}

.controls {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--grid-size);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    gap: var(--grid-size);
}

.isHost .footer {
    flex: 0 0 auto;
}

.timeWrapper {
    flex-grow: 0;
    height: 100%;
    width: 1px;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 0 calc(var(--grid-size) * 2);
    will-change: width;
    transition: width var(--transition-time) var(--bounce), flex var(--transition-time) var(--bounce), opacity var(--transition-time) ease-in-out;
}

.timeWrapper.isTimeVisible {
    width: var(--time-width-expanded);
}

.timeWrapper.isAverageVisible {
    width: var(--time-width-everage);
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    flex: 1 0 calc((100% - var(--time-width) - var(--grid-size) * 4 - 2px) / 2);
    transition: width var(--transition-time) var(--bounce), flex var(--transition-time) var(--bounce), opacity var(--transition-time) ease-in-out;
}

.time {
    font-variant-numeric: tabular-nums;
    display: flex;
    justify-content: center;
}

.title {
    transform-origin: left;
}

.title:hover {
    flex-grow: 1;
}

.title:hover ~ * {
    width: 0;
    margin: 0;
    opacity: 0;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
}

.story {
    text-align: center;
}

.divider {
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    width: 1px;
    background-color: currentColor;
    align-self: center;
    height: calc(100% - var(--grid-size) * 2);
}

.loader {
    border-radius: inherit;
    background-color: inherit;
    color: currentColor !important;
}

.averageWrapper {
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.timeActive {
    font-weight: 700;
}
