.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--grid-size) * 3);
    padding: calc(var(--grid-size) * 6) calc(var(--grid-size) * 2);
    width: 100%;
    margin: 0 auto;
    max-width: var(--container);
    flex-wrap: wrap;
    background: transparent;
}

.row {
    display: flex;
    align-items: center;
    gap: calc(var(--grid-size) * 2);
}

.form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: calc(var(--grid-size) * 2);
}

.copy {
    flex-grow: 1;
    text-align: center;
    color: var(--grey-darken);
}
